[Unit]
Description=gerty
After=gerty.target

[Service]
EnvironmentFile=-/etc/sysconfig/gerty
WorkingDirectory=/opt/gerty
ExecStart=/opt/gerty/gerty
Restart=on-failure
StandardError=null
StandardOutput=null

[Install]
WantedBy=multi-user.target
